<div class="uk-container">
  <div class="uk-text-center">
    <div class="uk-position-center">
      <h1 class="uk-heading-primary uk-animation-fade">KAZUSHIGE TOMINAGA</h1>
        <div class="uk-padding-small uk-padding-remove-top uk-container-center">
          <a href=<%= image_path('resume.pdf') %>>RESUME</a>
        </div>
      <div class="uk-container-center">
        <a href="https://github.com/kazu9su">
          <i class="fab fa-2x fa-github-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/kazushige-tominaga-4a1640118">
          <i class="fab fa-2x fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/tooooooooomy">
          <i class="fab fa-2x fa-twitter-square"></i>
        </a>
        <a href="mailto:kazu9su@gmail.com">
          <i class="fas fa-2x fa-envelope-square"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<style>
.uk-link, a {
  color: #333;
}
</style>
